<div class="container">

  <div>
    <h1>Campos</h1>
  </div>

  <div class="grid">
    <div class="col-12">
      <p-card>
        <p-table [value]="campos" responsiveLayout="scroll" [responsive]="true" #tabelaCampos>
          <ng-template pTemplate="header">
            <tr>
              <th>Codigo</th>
              <th>Largura</th>
              <th>Comprimento</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-campo>
            <tr>
              <td>{{campo.codigo}}</td>
              <td>{{campo.largura}}</td>
              <td>{{campo.comprimento}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="3">
                Nenhum campo encontrado
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>

  <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2"></button>

</div>
