<div class="container">

  <div>
    <h1>Animais</h1>
  </div>

  <div class="grid">
    <div class="col-12">
      <p-card>
        <p-table [value]="animais" responsiveLayout="scroll" [responsive]="true" #tabelaAnimais>
          <ng-template pTemplate="header">
              <tr>
                  <th>Codigo</th>
                  <th>Descricao</th>
                  <th>Tipo</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-animal>
              <tr>
                  <td>{{animal.codigo}}</td>
                  <td>{{animal.descricao}}</td>
                  <td>{{animal.tipoAnimal}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="3">
                Nenhum animal encontrado
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>

  <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>

</div>

<p-dialog [(visible)]="showDialog" [style]="{width: '450px'}" header="Detalhes do setor" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
  <div class="field">
    <label for="descricao">Descricao</label>
    <!-- <input pInputText type="text" id="descricao" [(ngModel)]="setor.descricao" required autofocus> -->
  </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <!-- <button pButton pRipple label="Salvar" icon="pi pi-check"  (click)="save()"></button>
    <button pButton pRipple label="Cancelar" icon="pi pi-times"  (click)="hideDialog()"></button> -->
  </ng-template>
</p-dialog>
