<div class="container">

  <div>
    <h1>Granjas</h1>
  </div>

  <div class="grid">
    <div class="col-12">
      <p-card>
        <p-table [value]="granjas" responsiveLayout="scroll" [responsive]="true" #tabelaGranja>
          <ng-template pTemplate="header">
              <tr>
                  <th>Codigo</th>
                  <th>Capacidade</th>
                  <th>Qtd Animais</th>
                  <th>Animal</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-granja>
              <tr>
                  <td>{{granja.codigo}}</td>
                  <td>{{granja.capacidade}}</td>
                  <td>{{granja.qtdAnimais}}</td>
                  <td>{{granja.animal.descricao}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">
                Nenhuma granja encontrada
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>

  <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2"></button>

</div>
