<div class="container">

  <div class="col-12">
    <h1>Ovos</h1>
  </div>

  <div class="grid">
    <div class="col-12">
      <p-card>
        <p-table [value]="ovos" responsiveLayout="scroll" [responsive]="true" #tabelaOvo>
          <ng-template pTemplate="header">
              <tr>
                  <th>Codigo</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ovo>
              <tr>
                  <td>{{ovo.codigo}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="1">
                Nenhum ovos encontrado
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>

</div>
