<div class="container">

  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="grid">
      <div class="col-12">
        <h1>{{editando ? 'Edição de' : 'Novo'}} Animal</h1>
      </div>

      <div class="col-12">
        <p-selectButton [options]="tipos" name="tipoAnimal" formControlName="tipoAnimal"></p-selectButton>
      </div>

      <div class="p-fluid col-12">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" formControlName="descricao">
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <button pButton type="button" label="Novo" class="p-button-success" (click)="novo()"></button>
        <a routerLink="/animais">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
