<div class="container">

  <div>
    <h1>Producao de Leite</h1>
  </div>

  <div class="grid">
    <div class="col-12">
      <p-card>
        <p-table [value]="producaoLeite" responsiveLayout="scroll" [responsive]="true" #tabelaProducaoLeite>
          <ng-template pTemplate="header">
              <tr>
                  <th>Codigo</th>
                  <th>Data</th>
                  <th>Pasto</th>
                  <th>Quantidade</th>
                  <th>Unidade</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-prodLeite>
              <tr>
                  <td>{{prodLeite.codigo}}</td>
                  <td>{{prodLeite.data}}</td>
                  <td>{{prodLeite.pasto.codigo}}</td>
                  <td>{{prodLeite.quantidade}}</td>
                  <td>{{prodLeite.unidade}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">
                Nenhuma producao de leite encontrada
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>

  <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2"></button>

</div>
