<div class="container">

  <div class="grid">

    <div class="col-12">
      <h1>Funcionarios</h1>
    </div>

    <div class="col-12">
      <p-card>
        <p-table [value]="funcionarios" responsiveLayout="scroll" [responsive]="true" #tabelaFuncionario>
          <ng-template pTemplate="header">
            <tr>
              <th>Codigo</th>
              <th>Nome</th>
              <th>Telefone</th>
              <th>CPF</th>
              <th>Data Cadastro</th>
              <th>Data Nascimento</th>
              <th>Setor</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-funcionario>
            <tr>
              <td>{{funcionario.codigo}}</td>
              <td>{{funcionario.nome}}</td>
              <td>{{funcionario.telefone}}</td>
              <td>{{funcionario.cpf}}</td>
              <td>{{funcionario.dataCadastro}}</td>
              <td>{{funcionario.dataNascimento}}</td>
              <td>{{funcionario.setor.descricao}}</td>
              <td class="col-acoes-header">
                <button pButton pRipple icon="pi pi-pencil" [disabled]="true"
                  class="p-button-rounded p-button-success mr-2"
                  [routerLink]="['/funcionarios', funcionario.codigo]"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                  (click)="confirmarExclusao(funcionario)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">
                Nenhum funcionario encontrado
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>

  <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2"
    routerLink="/funcionarios/novo"></button>

</div>
