<div class="container">

  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="grid">
      <div class="col-12">
        <h1>{{editando ? 'Edição de' : 'Novo'}} Equipamento</h1>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="nome" formControlName="nome">
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <label>Data</label>
        <p-calendar dateFormat="dd/mm/yy" name="data" formControlName="data"></p-calendar>
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <button pButton type="button" label="Novo" class="p-button-success" (click)="novo()"></button>
        <a routerLink="/equipamentos">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
