<div class="container">

  <div>
    <h1>Culturas</h1>
  </div>

  <div class="grid">
    <div class="col-12">
      <p-card>
        <p-table [value]="culturas" responsiveLayout="scroll" [responsive]="true" #tabelaCultura>
          <ng-template pTemplate="header">
              <tr>
                  <th>Codigo</th>
                  <th>Descricao</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-cultura>
              <tr>
                  <td>{{cultura.codigo}}</td>
                  <td>{{cultura.descricao}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="2">
                Nenhum cultura encontrado
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>

  <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2"></button>

</div>
