<div class="container">

  <div class="col-12">
    <h1>Setores</h1>
  </div>

  <div class="grid">
    <div class="col-12">
      <p-card>
        <p-table [value]="setores" responsiveLayout="scroll" [responsive]="true" #tabelaSetores>
          <ng-template pTemplate="header">
            <tr>
              <th>Codigo</th>
              <th>Descricao</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-setor>
            <tr>
              <td>{{setor.codigo}}</td>
              <td>{{setor.descricao}}</td>
              <td class="col-acoes-header">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  [routerLink]="['/setores', setor.codigo]"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                  (click)="confirmarExclusao(setor)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="3">
                Nenhum setor encontrado
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>

  <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2"
    routerLink="/setores/novo"></button>
</div>
