<div class="container">

  <div class="grid">
    <div class="col-12">
      <h1>Ovos</h1>
    </div>

    <div class="col-12">
      <p-card>
        <p-table [value]="ovos" responsiveLayout="scroll" [responsive]="true" #tabelaOvo>
          <ng-template pTemplate="header">
            <tr>
              <th>Codigo</th>
              <th>Data</th>
              <th>Granja</th>
              <th>Quantidade</th>
              <th>Unidade</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ovo>
            <tr>
              <td>{{ovo.codigo}}</td>
              <td>{{ovo.data}}</td>
              <td>{{ovo.granja.codigo}}</td>
              <td>{{ovo.quantidade}}</td>
              <td>{{ovo.unidade}}</td>
              <td class="col-acoes-header">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  [disabled]="true" [routerLink]="['/ovos', ovo.codigo]"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                  (click)="confirmarExclusao(ovo)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6">
                Nenhum ovo encontrado
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>

  <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" routerLink="/ovos/novo"></button>

</div>
